.visually-hidden {
  display: none;
}

.overflow-hidden {
  overflow-y: hidden;
}
img {
  max-width: 100%;
  height: auto;
}

main {
  padding-bottom: 88px;
}

.faktaboks {
  background-color: #aaa;
  padding: 1rem;
}

@media (min-width: 992px) {
  .mainGrid {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
  }
}