.visually-hidden {
  display: none;
}

html {
  scroll-padding-top: 64px; // Height of header
}

body {
  font-size: 20px;
  font-family: 'Libre Franklin', sans-serif;
}

.lead {
  font-size: 30px;
}

ul {
  list-style: none;
  border: 0;
  padding: 0;
  margin: 0;
}

li::before {
  content: "";
  position: absolute;
  margin-left: -.9em;
  margin-top: .7em;
  width: .3em;
  height: .3em;
  border-radius: .2em;
  background: #999;
}

.overflow-hidden {
  overflow-y: hidden;
}
img {
  max-width: 100%;
  height: auto;
}

main {
  padding-bottom: 88px;
}

.faktaboks {
  border: 1px solid rgb(95, 194, 255);
  padding: 1rem;
  color: rgb(95, 194, 255);
  border-radius: 10px;
  font-style: italic;
}

.wp-block-group {
  margin-bottom: 3rem;
}

@media (min-width: 992px) {
  .faktaboks {
    position: relative;
    right: 2rem;
  }
}