{% if post.children %}
  {% for child in post.children %}
    {% if child.post_type == 'page' %}
      <h2><a href="{{ child.link }}">{{ child.title }}</a></h2>
    {% endif %}
  {% endfor %}
{% endif %}