<footer class="mainFooter">
  Spørsmål? Forslag? <a href="mailto:joachimsolstrom@gmail.com" style="text-decoration: underline">Send meg en mail da vel!</a>
</footer>
{{ function('wp_footer') }}
</body>
</html>