<form class="search" action="/" method="get">
  <input type="text" name="s" id="search" value="{{ fn('get_search_query') }}">
  <input type="image" alt="Search" src="{{ magnifier }}" width="20">
</form>