.topHeader {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.logo {
  font-family: 'DM Mono', monospace;
  font-size: 200%;
  color: #467;
}

body {
  background-color: #369;
}