.imageContainer {
  width: 100px;
  height: 100px;
  text-align: center;
}

.linkList {
  display: flex;
  align-items: center;
  border: 1px solid #467;
  margin-bottom: .5rem;
  border-radius: 4px;
  padding: 1rem;
  &__children {
    margin-left: 3rem;
  }

  & img {
    display: block;
    margin: 0 auto;
    height: 100%;
    max-width: 100%;
  }

  &:hover {
    text-decoration: none;
    background-color: #467;
    color: white;
  }
  & > h3 {
    display: inline;
    margin-left: 1rem;
  }
}