.mainFooter {
  text-align: center;
  padding: 2rem 0;
  background-color: #347;
  margin-top: 1rem;
  color: white;
  position: relative;
  z-index: 9;
  & > a {
    color: white;
  }
}

@media (min-width: 992px) {
  .mainFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}