.topHeader {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
  background-color: $blue;
}

.logo {
  font-family: 'DM Mono', monospace;
  font-size: 200%;
  color: white;
  &:hover {
    color: white;
    font-weight: 700;
  }
}