.hamburger {
  display: block;
  background-color: transparent;
  border: 0;
  padding: 0;
  position: relative;

  &--toggled {
    z-index: 1;

    & .hamburger__line {
      border-color: #000;
    }
  }

  &__line {
    display: block;
    border: 1px solid black;
    width: 30px;
    margin-bottom: 0.25em;

    &:nth-child(3) {
      margin-bottom: 0;
    }
  }

}

.headerMenu {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0;
  transition: width 200ms ease-in-out;
  z-index: 1;

  &__list {
    padding: 2rem;
    list-style: none;
    margin-bottom: 0;
    display: none;
    font-weight: 700;
  }


  &--open {
    width: 100vw;
    transition: width 200ms ease-in-out;
    overflow-y: scroll;

    & .headerMenu__list {
      display: flex;
      flex-direction: column;
    }
  }

  &__link {
    color: black;
    font-family: Geneva, sans-serif;
  }
  &__submenu {
    font-weight: 400;
    list-style: disc;
  }
  & .search {
    margin-top: -7px; // Align with hamburger
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    & input[type="text"] {
      margin-right: .5rem;
    }
  }
}

@media (min-width:992px) {
  .hamburger {
    display: none;
  }

  #desktopMenu {
    display: block;
    margin-left: 1rem;
    position: sticky;
    top: 10%;
  }

  .headerMenu {
    position: static;
    height: auto;
    width: auto;

    &__list {
      padding: 0;
      display: block;
      flex-direction: column;
      overflow-y: scroll;
      max-height: 75vh;
      position: fixed;
      visibility: hidden;
    }

    &__link {
      color: black;
    }

    & .search {
      & input[type="text"] {
        border: 0;
        border-bottom: 1px solid #000;
      }
    }
  }
}