{% extends 'layouts/base.twig' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <aside class="sidebar col-lg-4 col-xl-3 d-none d-lg-block">
      {% include 'partials/nav.twig' %}
    </aside>
    <div class="col-12 col-lg-7 col-xl-5 offset-lg-1">
      {% if not fn('is_front_page') %}
        <h1>{{ post.title }}</h1>
      {% endif %}
      {{ post.content }}
      {% if not fn('is_front_page') %}
        {% include 'partials/childCards.twig' %}
      {% endif %}
    </div>
  </div>
</div>

<aside class="tableOfContents">
  <ul id="tableOfContents" class="tableOfContents__list">
  </ul>
</aside>
<button id="tableOfContentsButton" class="tableOfContents__button">Innhold</button>
{% endblock %}