{% extends 'layouts/base.twig' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
      <h1>This is Index.twig</h1>
      {{ post.title }}
      {{ post.content }}
    </div>
  </div>
</div>
{% endblock %}